<div class="house-detail">
  <div class="house-detail__pic">
    <img src="{{currentPhoto}}" alt="HousePhoto" class="house-detail__pic-elt" >
    <!-- <div class="house-detail__owner">
      <img src="{{house.user.userPhoto}}" alt="Owner Picture" class="userPhoto">
      <a href="https://www.facebook.com"><i class="fab fa-facebook"></i></a>
      <a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
      <i class="fas fa-map-marker-alt"></i>
    </div> -->
  </div>
  <div class="house-detail__owner">
    <img src="{{house.user.userPhoto?.url}}" alt="Photo" class="Realtor">
    <p>{{house.user.firstName}}</p>
    <p>{{house.user.lastName}}</p>
    <p>{{house.user.phone}}</p>
    <p>{{house.user.email}}}</p>
    <a href="https://www.facebook.com"><i class="fab fa-facebook"></i></a>
    <a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
    <a href="https://www.google.com/maps/place/{{house.street}}+{{house.city}}+{{house.state}}+{{house.zip}}">
      <i class="fas fa-map-marker-alt"></i>
    </a>
  </div>
  <div class="house-detail__info">
      <button (click)="previous()"><i class="fas fa-chevron-left"></i></button>
      <span>{{(index+1)}} / {{photosUrls.length}}</span>
      <button (click)="next()"><i class="fas fa-chevron-right"></i></button>
  </div>
</div>