<div class="house-create">
    <form #houseForm="ngForm" (ngSubmit)="createHouse()" class="house-create__form" *ngIf="!isLoading" >
      <div class="house-create__top">
          <div class="house-create__input-2">
              <label for="price">Price: </label> <br>
              <input type="text" name="price" id="price" [(ngModel)]="model.price">
            </div>
          
            <div class="house-create__input-2">
              <label for="rooms">Rooms: </label> <br>
              <input type="text" name="rooms" id="rooms" [(ngModel)]="model.rooms">
            </div>
      </div>
        
      
        <div class="house-create__input-1">
          <label for="area">Area: </label> <br>
          <input type="text" name="area" id="area" [(ngModel)]="model.area">
        </div>
      
        <div class="house-create__input-1">
          <label for="street">Street: </label> <br>
          <input type="text" name="street" id="street" [(ngModel)]="model.street">
        </div>
      
        <div class="house-create__input-1">
          <label for="city">City: </label> <br>
          <input type="text" name="city" id="city" [(ngModel)]="model.city">
        </div>
      
        <div class="house-create__input-1">
          <label for="state">State: </label> <br>
          <input type="text" name="state" id="state" [(ngModel)]="model.state" placeholder="ex: MO" >
        </div>

        <div class="house-create__input-1">
          <label for="zip">Zip: </label> <br>
          <input type="text" name="zip" id="zip" [(ngModel)]="model.zip">
        </div>
      
        <div class="house-create__radios" >
          <div class="house-create__radio-inline">
            <input type="radio" name="price" (click)="setAvailable()" class="house-create__radio" id="yes" > 
            <label class="house-create__radio-label" for="yes" >
              <span class="house-create__radio-button"></span>
              Available
            </label>
          </div>
          &nbsp;&nbsp;
          <div class="house-create__radio-inline">
            <input type="radio" name="price" (click)="setNotAvailable()" class="house-create__radio" id="no" > 
            <label class="house-create__radio-label" for="no" >
              <span class="house-create__radio-button"></span>
              Not Available
            </label>
          </div>
        </div>
        
        <input type="submit" class="house-create__submit" value="Create" >
      </form>

      <div class="house-create__img" *ngIf="!isLoading">
        <img src="./assets/images/house.jpg" />
      </div>

      <div class="loading" *ngIf="isLoading">
        <div class="lds-ripple"><div></div><div></div></div>
      </div>
</div>


