<div class="login">
    <div class="login-instructions">
        <p>First time Using? Please click here <a [routerLink]="['/register']">Register</a></p>
    </div>
    <form #loginForm="ngForm" (ngSubmit)="login()" class="login-form" >
        <div> 
            <input type="text" name="username" required
                 placeholder="username" [(ngModel)]="model.username"
                 class="login-form__input" >
        </div>
        <div>
            <input type="password" name="password" required 
                placeholder="password" [(ngModel)]="model.password"
                class="login-form__input" >
        </div>
            
        <input [disabled]="!loginForm.valid" type="submit" value="Login"
            class="login-form__submit" >

        <!-- <div class="loader"></div> -->
        <div class="lds-ripple"><div></div><div></div></div>
    </form>
    <div class="login__img">
        <img src="../../assets/images/security.jpg" width="100%" height="100%" />
        <div class="overlay"><p>Realtor?<br/>Please log in and introduce<br/>your products.</p></div>
    </div>    
</div>


