<form #registerForm="ngForm" (ngSubmit)="updateUser()" >
  <div>
    <label for="firstName">First Name: </label>
    <input type="text" required name="firstName" id="firstName" [(ngModel)]="user.firstName" >
  </div>
  <div>
    <label for="lastName">Last Name: </label>
    <input type="text" required name="lastName" id="lastName" [(ngModel)]="user.lastName" >
  </div>
  <div>
    <label for="username">Username: </label>
    <input type="text" required name="username" id="username" [(ngModel)]="user.username" >
  </div>
  <div>
    <label for="email">Email: </label>
    <input type="email" required name="email" id="email" [(ngModel)]="user.email" >
  </div>
  <div>
    <label for="phone">Phone: </label>
    <input type="text" required placeholder="(xxx) xxx-xxxx" name="phone" id="phone" [(ngModel)]="user.phone" >
  </div>  
  <div>
    <label for="dateOfBirth">Date of Birth: </label>
    <input type="date" required name="dateOfBirth" id="dateOfBirth" [(ngModel)]="user.dateOfBirth" >
  </div>
  <div>
    <label for="gender">Gender: </label>
    <select required name="gender" id="gender" [(ngModel)]="user.gender" >
      <option value="male">male</option>
      <option value="female">female</option>
    </select>
  </div>

  <input type="submit" value="Save" />

</form>
