<div class="house-list">
  <div class="house-list__search">
    <form #searchForm="ngForm" (ngSubmit)="loadHouses()" class="house-list__search-form" >
      <input type="text" class="house-list__search-box" name="rooms" [(ngModel)]="houseParams.rooms" placeholder="rooms" />
      <input type="text" class="house-list__search-box" name="price" [(ngModel)]="houseParams.price" placeholder="price" />
      <input type="text" class="house-list__search-box" name="area" [(ngModel)]="houseParams.area" placeholder="area" />
      <input type="text" class="house-list__search-box" name="city" [(ngModel)]="houseParams.city" placeholder="city" />
      <input type="text" class="house-list__search-box" name="state" [(ngModel)]="houseParams.state" placeholder="state ex: CA" />
      <input type="submit" value="Search" class="house-list__search-button" /> 
    </form>    
  </div>
  <div class="house-list__items">
    <div *ngFor="let house of houses" class="house-list__item" >
      <img src="{{house.photoUrl}}" alt="House Photo" class="house-list__item-img">
      <a [routerLink]="['/house/detail/', house.id]" class="house-list__item-link" >View House</a>
      <div class="house-list__item-price">
        <i class="fas fa-hand-holding-usd icon" ></i>
        <p>{{ house.price }}</p>
      </div>
      <div class="house-list__item-area">
        <i class="fas fa-expand-arrows-alt icon" ></i>
        <p>{{ house.area }} ft<sup>2</sup></p>
      </div>
      <div class="house-list__item-rooms">
        <i class="fas fa-door-open icon" ></i>
        <p>{{ house.rooms }}</p>
      </div>
      <div class="house-list__item-location">
        <i class="fas fa-map-marked-alt icon"  ></i>
        <p>{{ house.city }}</p>
      </div>    
      <div *ngIf="!loggedIn()"></div>
      <a [routerLink]="['/house/edit/', house.id]" class="house-list__item-edit" *ngIf="loggedIn()" >Edit</a>
      <input type="button" value="Delete" class="house-list__item-delete" 
        *ngIf="loggedIn()"
        (click)="deleteHouse(house.id)" >
    </div>
  </div>

  <div *ngIf="houses.length > 0" class="house-list__pagination">
    <pagination [boundaryLinks]="true" [totalItems]="pagination.totalItems"
                [itemsPerPage]="pagination.itemsPerPage"
                [(ngModel)]="pagination.currentPage "
                (pageChanged)="pageChanged($event)"
                previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
      </pagination>
  </div>
</div>