*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: Nunito;
  font-weight: 300px;
  line-height: 1.6; }

heading {
  font-weight: 400; }

.nav {
  display: flex;
  flex-direction: row;
  height: 7rem;
  border-bottom: 0.4rem solid #304061;
  align-items: center;
  justify-content: space-around; }
  .nav-left {
    font-size: 1.5rem;
    margin-left: 0.5rem;
    color: #5C7AB7; }
  .nav-right {
    margin-right: 0.5rem; }
    .nav-right__menu {
      display: flex;
      justify-content: space-between; }
      .nav-right__menu .display {
        font-size: 1.5rem;
        color: #304061;
        text-transform: uppercase; }
        .nav-right__menu .display:hover {
          cursor: pointer;
          border-bottom: 0.2rem solid #304061; }
      .nav-right__menu .welcome {
        font-size: 1.3rem;
        color: #5C7AB7; }
    .nav-right__item {
      display: inline;
      margin-left: 1rem;
      margin-right: 1rem; }
      .nav-right__item > a {
        text-decoration: none;
        text-transform: uppercase;
        color: #304061;
        font-size: 1.5rem; }
      .nav-right__item > a:hover {
        border-bottom: 0.2rem solid #304061; }

.register {
  display: grid;
  background-image: url("./assets/images/background.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  grid-template-rows: 100%;
  grid-template-columns: repeat(12, 1fr); }
  .register-body {
    min-width: 100%;
    min-height: 100%;
    grid-column: 4 / 10;
    margin-top: 5rem; }
  .register-form {
    padding: 3rem;
    border-radius: 0.3rem;
    background-color: rgba(255, 255, 255, 0.5); }
    .register-form__label {
      font-size: 1.2rem;
      font-weight: 700px; }
    .register-form input, .register-form select {
      padding: 0.7rem;
      background-color: #fff;
      font-family: Nunito;
      font-weight: 700;
      border: 0.2rem solid #304061; }
    .register-form .input-row {
      display: flex;
      justify-content: space-around;
      margin: 2rem; }
    .register-form .inline-row {
      display: inline-block; }
    .register-form label {
      font-size: 1.3rem;
      font-weight: 600; }
    .register-form .submition {
      margin-top: 4rem;
      padding: 2rem;
      background-color: #304061;
      color: #fff; }
    .register-form .submition:hover {
      cursor: pointer;
      background-color: #526da5; }
    .register-form .dummy {
      visibility: hidden; }

.login {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 15rem 1fr; }
  .login-instructions {
    display: flex;
    flex-direction: row;
    grid-column: 1 / -1;
    align-content: center;
    justify-content: center;
    line-height: 7rem;
    font-size: large; }
  .login-form {
    grid-column: 6 / 8; }
    .login-form__input {
      margin-top: 2rem;
      background-color: #fff;
      border: 0.2rem solid #304061;
      padding: 0.7rem;
      width: 100%;
      font-family: Nunito;
      font-weight: 700; }
    .login-form__submit {
      margin-top: 2rem;
      background-color: #304061;
      color: #fff;
      padding: 2rem;
      border: none;
      font-weight: 600;
      width: 100%; }
      .login-form__submit:hover {
        cursor: pointer;
        color: #526da5; }

.house-create {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr; }
  .house-create__form {
    grid-column: 5 / 8;
    margin-top: 2rem; }
    .house-create__form label {
      font-size: 1.3rem;
      font-weight: 600; }
  .house-create__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  .house-create__input-1 {
    margin-top: 2rem; }
    .house-create__input-1 input {
      width: 100%;
      padding: 0.35rem 0 0.35rem 0;
      background-color: #fff;
      font-family: Nunito;
      font-weight: 700;
      border: 0.2rem solid #304061; }
  .house-create__input-2 {
    display: inline-block; }
    .house-create__input-2 input {
      padding: 0.35rem 0 0.35rem 0;
      background-color: #fff;
      font-family: Nunito;
      border: 0.2rem solid #304061; }
  .house-create__radios {
    margin-top: 2rem; }
  .house-create__radio-button {
    height: 3rem;
    width: 3rem;
    border: 0.5rem solid #304061;
    border-radius: 50%;
    display: block; }
