*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: Nunito;
  font-weight: 300px;
  line-height: 1.6; }

heading {
  font-weight: 400; }

.nav {
  display: flex;
  flex-direction: row;
  height: 7rem;
  border-bottom: 0.4rem solid #304061;
  align-items: center;
  justify-content: space-around; }
  .nav-left {
    font-size: 1.5rem;
    margin-left: 0.5rem;
    color: #5C7AB7; }
  .nav-right {
    margin-right: 0.5rem; }
    .nav-right__menu {
      display: flex;
      justify-content: space-between; }
      .nav-right__menu .display {
        font-size: 1.5rem;
        color: #304061;
        text-transform: uppercase; }
        .nav-right__menu .display:hover {
          cursor: pointer;
          border-bottom: 0.2rem solid #304061; }
      .nav-right__menu .welcome {
        font-size: 1.3rem;
        color: #5C7AB7; }
    .nav-right__item {
      display: inline;
      margin-left: 1rem;
      margin-right: 1rem; }
      .nav-right__item > a {
        text-decoration: none;
        text-transform: uppercase;
        color: #304061;
        font-size: 1.5rem; }
      .nav-right__item > a:hover {
        border-bottom: 0.2rem solid #304061; }

.register {
  display: grid;
  background-image: url("./assets/images/background.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  grid-template-rows: 100%;
  grid-template-columns: repeat(12, 1fr); }
  .register-body {
    min-width: 100%;
    min-height: 100%;
    grid-column: 4 / 10;
    margin-top: 5rem; }
  .register-form {
    padding: 3rem;
    border-radius: 0.3rem;
    background-color: rgba(255, 255, 255, 0.5); }
    .register-form__label {
      font-size: 1.2rem;
      font-weight: 700px; }
    .register-form input, .register-form select {
      padding: 0.7rem;
      background-color: #fff;
      font-family: Nunito;
      font-weight: 700;
      border: 0.2rem solid #304061; }
    .register-form .input-row {
      display: flex;
      justify-content: space-around;
      margin: 2rem; }
    .register-form .inline-row {
      display: inline-block; }
    .register-form label {
      font-size: 1.3rem;
      font-weight: 600; }
    .register-form .submition {
      margin-top: 4rem;
      padding: 2rem;
      background-color: #304061;
      color: #fff; }
    .register-form .submition:hover {
      cursor: pointer;
      background-color: #526da5; }
    .register-form .dummy {
      visibility: hidden; }

.login {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 15rem 1fr; }
  .login-instructions {
    display: flex;
    flex-direction: row;
    grid-column: 1 / -1;
    align-content: center;
    justify-content: center;
    line-height: 7rem;
    font-size: large; }
  .login-form {
    grid-column: 6 / 8; }
    .login-form__input {
      margin-top: 2rem;
      background-color: #fff;
      border: 0.2rem solid #304061;
      padding: 0.7rem;
      width: 100%;
      font-family: Nunito;
      font-weight: 700; }
    .login-form__submit {
      margin-top: 2rem;
      background-color: #304061;
      color: #fff;
      padding: 2rem;
      border: none;
      font-weight: 600;
      width: 100%; }
      .login-form__submit:hover {
        cursor: pointer;
        color: #526da5; }

.house-create {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr; }
  .house-create__form {
    grid-column: 5 / 8;
    margin-top: 2rem; }
    .house-create__form label {
      font-size: 1.3rem;
      font-weight: 600; }
  .house-create__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  .house-create__input-1 {
    margin-top: 2rem; }
    .house-create__input-1 input {
      width: 100%;
      padding: 0.35rem 0 0.35rem 0;
      background-color: #fff;
      font-family: Nunito;
      font-weight: 700;
      border: 0.2rem solid #304061; }
  .house-create__input-2 {
    display: inline-block; }
    .house-create__input-2 input {
      padding: 0.35rem 0 0.35rem 0;
      background-color: #fff;
      font-family: Nunito;
      border: 0.2rem solid #304061; }
  .house-create__radio {
    display: none; }
  .house-create__radios {
    margin-top: 2rem; }
  .house-create__radio-button {
    height: 2rem;
    width: 2rem;
    border: 0.3rem solid #304061;
    border-radius: 50%;
    display: inline-block;
    position: relative; }
    .house-create__radio-button::after {
      content: "";
      display: block;
      height: 0.8rem;
      width: 0.8rem;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #304061;
      opacity: 0;
      transition: opacity .2s; }
  .house-create__radio-inline {
    display: inline;
    width: 50%; }
  .house-create__radio:checked ~ .house-create__radio-label .house-create__radio-button::after {
    opacity: 1; }
  .house-create__submit {
    margin-top: 3rem;
    padding: 2rem;
    background-color: #304061;
    color: #fff;
    border: none;
    width: 100%;
    font-size: 1.3rem;
    font-weight: 600; }
  .house-create__submit:hover {
    cursor: pointer;
    background-color: #526da5; }

.house-photo {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin-top: 2rem; }
  .house-photo__form {
    grid-column: 5 / 11; }
  .house-photo__files {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1; }
  .house-photo__label {
    margin-bottom: 2rem; }
  .house-photo__files + label {
    font-size: 1.3rem;
    font-weight: 700;
    color: #fff;
    background-color: #304061;
    display: inline-block;
    padding: 1.5rem; }
  .house-photo__files:focus + label,
  .house-photo__files + label:hover {
    background-color: #526da5;
    cursor: pointer; }
  .house-photo__button-upload {
    font-size: 1.3rem;
    font-weight: 700;
    color: #fff;
    display: inline-block;
    padding: 1.2rem;
    background-color: #139650;
    border: none;
    margin-right: 2rem; }
    .house-photo__button-upload:hover {
      cursor: pointer;
      background-color: #2be481; }
  .house-photo__button-cancel {
    font-size: 1.3rem;
    font-weight: 700;
    color: #fff;
    display: inline-block;
    padding: 1.2rem;
    background-color: #ed6a5a;
    border: none; }
    .house-photo__button-cancel:hover {
      cursor: pointer;
      background-color: #f7bdb6; }
  .house-photo__button-remove {
    color: #fff;
    display: inline-block;
    padding: 1.05rem;
    background-color: #ed6a5a;
    border: none; }
    .house-photo__button-remove:hover {
      cursor: pointer;
      background-color: #f7bdb6; }

.house-list {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: min-content minmax(20rem, 1fr) 5rem; }
  .house-list__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 5rem;
    grid-column: 3 / 11;
    grid-row: 2 / -1;
    margin-top: 4rem; }
  .house-list__item {
    display: grid;
    grid-row-gap: 3.5rem;
    grid-template-columns: repeat(2, 1fr);
    background-color: #ffad33; }
    .house-list__item-img {
      width: 100%;
      grid-column: 1 / -1;
      grid-row: 1 / 2;
      z-index: 1; }
    .house-list__item-link {
      grid-row: 1 / 2;
      z-index: 3;
      grid-column: 1 / -1;
      width: 80%;
      align-self: end;
      justify-self: center;
      font-family: Josefin Sans;
      font-size: 1.6rem;
      text-align: center;
      padding: 1.25rem;
      background-color: #5C7AB7;
      color: #fff;
      font-weight: 400;
      text-decoration: none;
      transform: translateY(50%); }
    .house-list__item-price, .house-list__item-area {
      margin-top: 2rem; }
    .house-list__item-price, .house-list__item-area, .house-list__item-rooms, .house-list__item-location {
      font-size: 1.5rem;
      margin-left: 2rem;
      color: #fff;
      font-family: Josefin Sans;
      display: flex;
      align-items: center; }
      .house-list__item-price i, .house-list__item-area i, .house-list__item-rooms i, .house-list__item-location i {
        color: #fff;
        font-size: 2rem; }
    .house-list__item-edit {
      grid-column: 1 / 2;
      background-color: #CDDC39;
      color: #fff;
      font-family: Josefin Sans;
      font-size: 1.5rem;
      text-decoration: none;
      text-align: center;
      vertical-align: middle;
      padding: 1.5rem; }
      .house-list__item-edit:hover {
        background-color: #d8e464; }
    .house-list__item-delete {
      grid-column: 2 / 3;
      background-color: #F44336;
      color: #fff;
      font-family: Josefin Sans;
      font-size: 1.5rem;
      border: none; }
      .house-list__item-delete:hover {
        cursor: pointer;
        background-color: #f77066; }
  .house-list__search {
    grid-column: 2 / 12;
    grid-row: 1 / 2;
    margin-top: 2rem; }
    .house-list__search-form {
      display: flex;
      flex-direction: row;
      justify-content: space-around; }
    .house-list__search-box {
      border: 0.2rem solid #5C7AB7;
      padding: 0.7rem;
      font-family: Nunito;
      font-weight: 700; }
    .house-list__search-button {
      padding: 0.7rem 1rem;
      background-color: #5C7AB7;
      font-weight: 700;
      color: #fff;
      border: none;
      text-transform: uppercase; }
    .house-list__search-button:hover {
      background-color: #7f97c7;
      cursor: pointer; }
  .house-list__pagination {
    margin-top: 8rem;
    display: flex;
    grid-row: 3 / -1;
    grid-column: 1 / -1;
    justify-content: space-around; }
  .house-list .icon {
    margin-right: 1rem; }
  .house-list .pagination {
    margin-top: 4rem; }
    .house-list .pagination * {
      font-family: Josefin Sans; }
  .house-list .page-item {
    display: inline-block;
    list-style: none;
    margin: 0.8rem;
    font-size: 1.5rem;
    font-weight: 400;
    padding: 0.5rem 1rem; }
    .house-list .page-item > a {
      text-decoration: none; }
  .house-list .active {
    background-color: #304061; }
    .house-list .active > a {
      color: #fff; }

.house-detail {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 45vh 1fr; }
  .house-detail__pic {
    grid-column: 1 / 11;
    grid-row: 1 / 2;
    position: relative; }
    .house-detail__pic-elt {
      width: 100%; }
  .house-detail__owner {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 7%; }
  .house-detail__pics {
    grid-column: 11 / 13;
    grid-row: 1 / -1;
    display: flex;
    flex-direction: column; }
    .house-detail__pics .house-pic {
      width: 80%; }
  .house-detail__info {
    grid-column: 1 / 10;
    grid-row: 10 / -1; }
