<div class="home">
    <!-- <slideshow class="home-slides"
           [minHeight]="'525px'"
           [autoPlay]="true"
           [showArrows]="false"
           [imageUrls]="images"
           [lazyLoad]="images?.length > 1"
           [autoPlayWaitForLazyLoad]="true">
    </slideshow> -->

    <!-- <div class="home__overview"> -->
        <div class="home__overview-left">
            <div class="button">
                Company Overview
                <div class="sm-button">
                    Information
                </div>
            </div>
        </div>
        <div class="home__overview-right">
            <p class="heading">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                Molestiae nobis quae expedita! Vitae architecto molestias 
                rerum excepturi, facilis mollitia asperiores obcaecati.
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Recusandae sunt nostrum enim voluptatum necessitatibus 
                labore tempore laboriosam, quas reiciendis, unde dolores 
                temporibus laudantium autem magnam odio, velit distinctio a
                ccusantium similique!
            </p>
            
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                Magni, adipisci quidem doloremque officia, facere ipsam 
                iusto fuga inventore omnis, laudantium dolor cupiditate 
                atque vero molestias maxime eligendi facilis placeat ipsa.
            </p>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                Similique porro neque odio magnam eius? Quae explicabo 
                nobis at veritatis dolores possimus.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                Ullam eos neque consequatur, dolore nam, illo maiores 
                suscipit atque sunt debitis quidem explicabo reprehenderit 
                alias nulla quis. Maiores neque eius quas?
            </p>          
        </div>
    <!-- </div> -->
    <div class="home__dummy"></div>
    <div class="home__company-left">
        <img src="../../assets/images/skyscraper.jpg" alt="skyscraper" width="320px" height="213px;">
        <h3>Vision</h3>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil 
            dicta ex aliquid cupiditate impedit quas molestiae harum! 
            Explicabo nihil distinctio aliquam, corrupti aliquid, quos 
            molestiae voluptatum exercitationem ea incidunt tempore?
        </p>
    </div>
    <div class="home__company-right">
        <h3>Mission</h3>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil 
            dicta ex aliquid cupiditate impedit quas molestiae harum! 
            Explicabo nihil distinctio aliquam, corrupti aliquid, quos 
            molestiae voluptatum exercitationem ea incidunt tempore?
        </p>
        <div class="image-right">
            <img src="../../assets/images/rotterdam.jpg" alt="skyscraper" width="100%" height="100%">
            <div class="sm-button">
                Many Locations
            </div>
        </div>
        
    </div>
    <div class="home__video-bg">
        <div class="overlay"></div>
        <video class="content" autoplay muted loop>
            <source src="../../assets/images/3099442-preview.mp4" type="video/mp4">
            Video has problem being played!
        </video>
    </div>
    <div class="home__history-left">
        <img src="../../assets/images/clock.jpg" alt="History" width="45px;" height="45px;"> &nbsp;&nbsp;
        <h3 style="display: inline;">Company History</h3>
    </div>
    <div class="home__first-date">
        <span class="cir"></span> 
        <div class="date">
            <h3>2010 - 2012</h3>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.  
                molestiae iure quam commodi deserunt eum.
            </p>
        </div>
    </div>
    <div class="home__second-date">             
            <div class="date">
                <h3>2013 - 2015</h3>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit.  
                    molestiae iure quam commodi deserunt eum.
                </p>
            </div>
            <span class="cir"></span>
    </div>
    <div class="home__third-date">
            <span class="cir"></span> 
            <div class="date">
                <h3>2016 - 2018</h3>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit.  
                    molestiae iure quam commodi deserunt eum.
                </p>
            </div>
    </div>
    <div class="home__blank">

    </div>
</div>