.home {
    display: grid;
    grid-template-columns: repeat(10, minmax(12.5rem, 25rem));

    &__overview {
        // grid-column: 3 / 9;

        &-left {
            grid-column: 3 / 6;
            & > .button {
                position: relative;
                background-color: $color-primary;
                width: 60%;
                color: $color-light;
                padding: 1.5rem;
                margin-top: 12rem;
                text-align: center;
                font-size: 1.5rem;

                & > .sm-button {
                    position: absolute;
                    left: 0;
                    top: 0;
                    transform: translateX(-70%) translateY(-60%);
                    background-color: $color-house;
                    color: $color-light;
                    padding: 1rem;
                }
            }
        }

        &-right {
            grid-column: 6 / 9;
            margin-top: 18rem;

            .heading {
                font-size: 1.5rem;
                font-weight: 700;
                transform: translateX(-15%);
            }

            & p {
                font-size: 1.2rem;
                width: 50rem;
                color: $color-primary;
                margin-bottom: 2rem;
            }
        }
    }

    &__dummy {
        grid-column: 1 / -1;
        grid-row: 2 / 3;
        background: linear-gradient(rgba($color-light-dark, 0.8), rgba($color-light-dark, 0.8)), url('./assets/images/world1.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }

    &__company {
        &-left {
            grid-row: 2 / 3;
            grid-column: 3 / 6;
            // background-color: $color-light-dark;

            & img {
                transform: translateY(-75%);
            }

            & p, & h3 {
                color: $color-primary;
            }

            & h3 {
                font-size: 1.7rem;
                margin-bottom: 1.5rem;
                transform: translateY(-30%);
            }

            & p {
                font-size: 1.2rem;
            }
        }

        &-right {
            grid-row: 2 / 3;
            grid-column: 6 / 9;

            & p, & h3 {
                color: $color-primary;
            }

            & h3 {
                margin-top: 5rem;
                font-size: 1.7rem;
                margin-bottom: 1.5rem;
            }

            & p {
                font-size: 1.2rem;
            }
        }
    }

    &__testimonials {

    }

    &__blank {

    }
}