.house-detail {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    // grid-template-rows: 20vh 1fr;

    &__pic {
        grid-column: 1 / 11;
        grid-row: 1 / 2;
        position: relative;
        height: 82.5vh;

        &-elt {
            width: 100%;
            height: 100%;
        }
    }

    &__owner {
        display: flex;
        flex-direction: column;
        position: absolute;
        justify-content: space-around;
        align-content: center;
        background-color: rgba($color-light, 0.3);
        top: 0;
        left: 0;
        height: 100%;  
        width: 7%;  

        & > * {
            margin-left: auto;
            margin-right: auto;
        }

        &:first-child {
            margin-top: 10rem;
        }

        &:last-child {
            margin-bottom: 4rem;
        }
        
        & > img {
            border-radius: 50%;
            width: 6.2rem;
            height: 6.2rem;
            border: 0.4rem solid $color-primary;
            // border-image: linear-gradient(left top, $color-primary 0%, $color-primary 60%);
        }

        & i {
            font-size: 2rem;
            color: $color-light;
        }
    }

    &__pics {
        grid-column: 11 / 13;
        grid-row: 1 / 3;

        display: flex;
        flex-direction: column;

        overflow-y: scroll;

        .house-pic {
            width: 80%;
            margin: 1rem auto 0 auto;
        }
    }

    &__info {
        display: flex;
        flex-direction: row;
        justify-content: center;
        grid-column: 1 / 11;
        // grid-row: 2 / -1;
        background-color: $color-primary;
        color: $color-light;
        margin-top: 0;
        height: 7vh;
        font-weight: 600;
        align-items: center;
    }

    ::-webkit-scrollbar {
        width: 5px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 1px grey; 
        border-radius: 10px;
    }
     
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: $color-primary; 
        border-radius: 10px;
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: darken($color-primary, 15%); 
    }
}