.house-create {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;

    &__form {
        grid-column: 5 / 8;
        margin-top: 2rem;

        & label {
            font-size: 1.3rem;
            font-weight: 600;
        }
    }

    &__top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__input-1 {
        margin-top: 2rem;
        
        & input {
            width: 100%;
            padding: 0.35rem 0 0.35rem 0;
            background-color: $color-light;
            font-family: Nunito;
            font-weight: 700;
            border: 0.2rem solid $color-primary;
        }
    }

    &__input-2 {
        display: inline-block;

        & input {
            padding: 0.35rem 0 0.35rem 0;            
            background-color: $color-light;
            font-family: Nunito;
            // font-weight: 700;
            border: 0.2rem solid $color-primary;
        }
    }

    &__radio {
        display: none;
    }

    &__radios {
        margin-top: 2rem;
    }

    &__radion-label {
        
    }

    &__radio-button {
        height: 2rem;
        width: 2rem;
        border: 0.3rem solid $color-primary;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        // left: 0;
        // top: 0;
        
        &::after {
            content: "";
            display: block;
            height: 0.8rem;
            width: 0.8rem;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: $color-primary;
            opacity: 0;
            transition: opacity .2s;
        }
    }

    &__radio-inline {
        display: inline;
        width: 50%;
    }

    &__radio:checked ~ &__radio-label &__radio-button::after {
        opacity: 1;
    }

    &__submit {
        margin-top: 3rem;
        padding: 2rem;
        background-color: $color-primary;
        color: $color-light;
        border: none;
        width: 100%;
        font-size: 1.3rem;
        font-weight: 600;
    }

    &__submit:hover {
        cursor: pointer;
        background-color: lighten($color-primary, 20%);
    }
}