.house-list {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: min-content 10rem minmax(20rem, 1fr) 5rem;

    &__new {
        grid-row: 2 / 3;
        grid-column: 3 / 5;
        margin-top: 4rem;

        & > a {
            text-decoration: none;
            background-color: $color-secondary;
            color: $color-light;
            font-size: 1.5rem;
            padding: 2rem;
            font-weight: 600;

            &:hover {
                background-color: lighten($color-secondary, 15%);
                transform: scale(1.2);
            }
        }
    }

    &__update-user {
        grid-row: 2 / 3;
        grid-column: 6 / 8;
        margin-top: 4rem;

        & > a {
            text-decoration: none;
            background-color: $color-secondary;
            color: $color-light;
            font-size: 1.5rem;
            padding: 2rem;
            font-weight: 600;

            &:hover {
                background-color: lighten($color-secondary, 15%);
                transform: scale(1.2);
            }
        }   
    }

    &__user-photo {
        grid-row: 2 / 3;
        grid-column: 9 / 11;
        margin-top: 4rem;

        & > a {
            text-decoration: none;
            background-color: $color-secondary;
            color: $color-light;
            font-size: 1.5rem;
            padding: 2rem;
            font-weight: 600;

            &:hover {
                background-color: lighten($color-secondary, 15%);
                transform: scale(1.2);
            }
        }   
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        grid-gap: 5rem;
        grid-column: 3 / 11;
        grid-row: 3 / 4;
        margin-top: 4rem;

        & > .sorry {
            font-size: 1.7rem;
            color: $color-secondary;
        }
    }

    &__item {
        display: grid;
        grid-row-gap: 3.5rem;
        width: 25rem; // remove to get back to original form
        grid-template-columns: repeat(2, 1fr);
        background-color: lighten($color-house, 10%);

        &-img {
            width: 100%;
            height: 18rem; // remove to get back to original form
            grid-column: 1 / -1;
            grid-row: 1 / 2;
            z-index: 1;
        }

        &-link {
            grid-row: 1 / 2;
            z-index: 3;
            grid-column: 1 / -1;
            width: 80%;
            align-self: end;
            justify-self: center;

            font-family: $font-secondary;
            font-size: 1.6rem;
            text-align: center;
            padding: 1.25rem;
            background-color: $color-secondary;
            color: $color-light;
            font-weight: 400;
            text-decoration: none;
            transform: translateY(50%);
        }

        &-price,
        &-area {
            margin-top: 2rem;
        }

        &-price,
        &-area,
        &-rooms,
        &-location {
            font-size: 1.5rem;
            margin-left: 2rem;
            color: $color-light;
            font-family: $font-secondary;
            
            display: flex;
            align-items: center;

            & i {
                color: $color-light;
                font-size: 2rem;
            }
        }

        &-edit {
            grid-column: 1 / 2;
            background-color: $color-edit;
            color: $color-light;
            font-family: $font-secondary;
            font-size: 1.5rem;
            text-decoration: none;
            text-align: center;
            vertical-align: middle;
            padding: 1.5rem;

            &:hover {
                background-color: lighten($color-edit, 10%);
            }
        }

        &-delete {
            grid-column: 2 / 3;
            background-color: $color-delete;
            color: $color-light;
            font-family: $font-secondary;
            font-size: 1.5rem;    
            border: none;
            
            &:hover {
                cursor: pointer;
                background-color: lighten($color-delete, 10%);
            }
        }
    }

    &__search {
        grid-column: 2 / 12;
        grid-row: 1 / 2;        
        margin-top: 2rem;

        & input[type=number]::-webkit-inner-spin-button, 
        & input[type=number]::-webkit-outer-spin-button { 
          -webkit-appearance: none; 
          margin: 0; 
        }

        &-form {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }

        &-box {
            border: 0.2rem solid $color-secondary;
            padding: 0.7rem;
            font-family: Nunito;
            font-weight: 700;
        }

        &-button {
            padding: 0.7rem 1rem;
            background-color: $color-secondary;
            font-weight: 700;
            color: $color-light;
            border: none;
            text-transform: uppercase;
        }

        &-button:hover {
            background-color: lighten($color-secondary, 10%);
            cursor: pointer;
        }
    }

    &__pagination {
        margin-top: 8rem;
        display: flex;
        grid-row: 4 / -1;
        grid-column: 1 / -1;
        justify-content: space-around;
    }

    .icon {
        margin-right: 1rem;
    }

    .pagination {
        margin-top: 4rem;

        & * {
            font-family: $font-secondary;
        }
    }

    .page-item {
        display: inline-block;
        list-style: none;
        margin: 0.8rem;
        font-size: 1.5rem;
        font-weight: 400;
        padding: 0.5rem 1rem;
        
        & > a {
            text-decoration: none;
        }
    }

    .active {
        background-color: $color-primary;

        & > a {
            color: $color-light;
        }
    }
}